<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Ruby Clicker</title>

    <%= stylesheet_link_tag "default.css" %>
    <%= stylesheet_link_tag "vuetify.min.css" %>
    <%= stylesheet_link_tag "core.css" %>

    <%= favicon_link_tag "/assets/ruby.png", rel: "icon", type: "image/png" %>

    <!-- <link rel="icon" type="image/png" href="/assets/ruby.png"> -->
    <link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="rubyclicker">
      <v-app>
        <v-content>
          <v-container class="bloc">
            <v-tabs light grow :scrollable="false">
              <v-tabs-bar class="rg-light-gray">
                <v-tabs-slider class="rg-blue"></v-tabs-slider>
                <v-tabs-item key="main" href="main">Game</v-tabs-item>
                <v-tabs-item key="statistic" href="statistic">Stats</v-tabs-item>
              </v-tabs-bar>
              <v-tabs-items>
                <v-tabs-content id="main">
                  <!-- ruby container -->
                  <v-container class="bloc">
                    <v-layout row elevation-2>
                      <v-flex>
                        <v-card flat tile>
                          <v-card-text id="rubyTitle" v-bind="ruby">{{ shortMoney(ruby) + " rub" + (ruby > 1 ? "ies" : "y") }} / <small>per second : {{ shortMoney(CpS) }}</small></v-card-text>
                          <v-card-text style="height: 400px;">
                            <div @click="createRuby()" id="target">
                              <div class="bg"></div>
                              <div class="overlay"></div>
                            </div>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>

                    <!-- reputation -->
                    <v-layout row elevation-2>
                      <v-flex>
                        <v-card flat tile dark>
                          <v-card-text>
                            <center>&#171; {{ (components.tickers.filter((ticker) => { return manufacturedRuby >= ticker.cost }).slice(-1).pop() || { description: "" }).description }} &#187;</center>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>

                  <v-container class="bloc">
                    <!-- bonus availables -->
                    <v-subheader>Shop</v-subheader>
                    <v-layout row wrap text-xs-center elevation-2 style="background: white;">
                      <v-flex xs3 v-for="(item, key, index) in components.bonus" v-if="showBonus(item), item.cost == -1 || (item.active && !item.buy)">
                        <v-card tile flat>
                          <v-list two-line class="pa-0">
                            <v-list-tile @click="selectedMode = key">
                              <v-list-tile-avatar>
                                <v-icon class="vj-fa material-icons icon" v-bind:class="{ 'error--text': key == selectedMode }">{{ "fa-" + item.icon }}</v-icon>
                              </v-list-tile-avatar>
                              <v-list-tile-content>
                                <v-list-tile-title v-bind:class="{ 'error--text': key == selectedMode }">{{ item.title }}</v-list-tile-title>
                                <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
                              </v-list-tile-content>
                            </v-list-tile>
                          </v-list>
                        </v-card>
                      </v-flex>
                    </v-layout>

                    <v-layout row elevation-2>
                      <v-flex>
                        <v-card tile flat dark v-bind="selectedMode">
                          <v-card-text>
                            <h2>{{ components.bonus[selectedMode].title }}</h2>
                          </v-card-text>
                          <v-card-text>
                            <small>{{ components.bonus[selectedMode].subtitle }}</small><br>
                            <span v-html="components.bonus[selectedMode].description"></span>
                          </v-card-text>
                          <v-card-text>
                             <v-btn v-if="!components.bonus[selectedMode].buy" color="error" @click="addBonus(components.bonus[selectedMode])">Buy for {{ shortMoney(components.bonus[selectedMode].cost) }} <img class="mini-ruby" src="/assets/ruby.png"></v-btn>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>

                    <!-- buildings -->
                    <v-subheader>Buildings</v-subheader>
                    <v-layout row wrap text-xs-center elevation-2>
                      <v-flex xs3 v-for="(item, key, index) in components.buildings">
                        <v-card tile flat>
                          <v-list v-if="item.active" two-line class="pa-0">
                            <v-list-tile @click="addItem(item)" class="yellow lighten-4">
                              <v-list-tile-avatar>
                                <v-icon class="vj-fa material-icons icon">{{ "fa-" + item.icon }}</v-icon>
                              </v-list-tile-avatar>
                              <v-list-tile-content>
                                <v-list-tile-title>{{ item.title }} <small><strong>[{{ item.counter }}]</strong></small></v-list-tile-title>
                                <v-list-tile-sub-title v-bind="item.counter">{{ shortMoney(cumulativePrice(item.cost, item.counter)) + " rubies" }}</v-list-tile-sub-title>
                              </v-list-tile-content>
                            </v-list-tile>
                          </v-list>

                          <v-list v-else two-line class="pa-0" style="opacity: 0.3" v-bind="ruby">
                            <v-list-tile class="yellow lighten-4">
                              <v-list-tile-avatar>
                                <v-icon class="vj-fa material-icons icon">fa-question</v-icon>
                              </v-list-tile-avatar>
                              <v-list-tile-content>
                                <v-list-tile-title>{{ showItem(item) }} ???</v-list-tile-title>
                                <v-list-tile-sub-title>{{ shortMoney(item.cost) + " rubies" }}</v-list-tile-sub-title>
                              </v-list-tile-content>
                            </v-list-tile>
                          </v-list>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-tabs-content>
                <v-tabs-content id="statistic">
                  <!-- general stats -->
                  <v-subheader>General</v-subheader>
                  <v-layout row elevation-2>
                    <v-flex>
                      <v-card tile flat dark>
                        <v-card-text>
                          <span v-bind="ruby">Rubies in bank : {{ shortMoney(ruby) }}</span><br>
                          <span v-bind="manufacturedRuby">Rubied baked : {{ shortMoney(manufacturedRuby) }}</span><br>
                          <span v-bind="buildingsOwned">{{ "Building" + (buildingsOwned > 1 ? "s" : "") + " owned : " + buildingsOwned }}</span><br>
                          <span v-bind="CpS">Rubies per second : {{ shortMoney(CpS) }}</span><br>
                          <span v-bind="click">Rubies per click : {{ click }}</span><br>
                          <span v-bind="rubyClick">Rubies clicks : {{ rubyClick }}</span>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>

                  <!-- Bonus unlocked -->
                  <v-subheader>Bonus unlocked</v-subheader>
                  <v-layout row wrap text-xs-center elevation-2 style="background: white;">
                    <v-list two-line>
                      <v-list-tile avatar v-for="item in components.bonus" v-if="item.buy">
                        <v-list-tile-avatar>
                          <v-icon class="vj-fa material-icons icon">{{ "fa-" + item.icon }}</v-icon>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                          <v-list-tile-sub-title v-html="item.description"></v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </v-layout>
                </v-tabs-content>
              </v-tabs-items>
            </v-tabs>
          </v-container>
        </v-content>
      </v-app>
    </div>

    <%= javascript_include_tag "vue.min" %>
    <%= javascript_include_tag "vuetify.min" %>
    <%= javascript_include_tag "fetch" %>
    <%= javascript_include_tag "core" %>

    </body>
</html>